/*
This file is for styling that will be reused on many pages site wide.

Example:
//This is a re-occuring button on the site.
cta-button {
  background-color: blue;
}
*/
@import url('https://fonts.googleapis.com/css?family=Economica:400,700|Pontano+Sans');

body {
  font-size: 18px;
  font-family: 'Economica', sans-serif;
  background-color: $black;
  line-height: 2;
  color: $white;
}
p {
  font-family: 'Pontano Sans', sans-serif;
  color: $lightgrey;
}
h1,h2,h3,h4,h5,h6 {
  color: $white;
  margin: 0;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  text-transform: uppercase;
}
h3 {}
h4 {
  font-size: 18px;
  text-transform: uppercase;
}
h5 {}
h6 {}
ul {
  list-style-type: none;
}
a {
  color: $light-purple;
  &:hover {
    color: $lighter-purple;
    text-decoration: none;
  }
}
input[type=text] {
  @extend .transition;
  font-family: 'Pontano Sans', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: $white;
  border: 2px solid rgba(255,255,255,.4);
  &::-webkit-input-placeholder {
    color: $white;
    opacity: .4;
  }
  &:focus, &:hover {
    border-color: $white;
  }
}
