/*
Universal
*/
// @extend this for transition animations
.transition {
  transition: ease all .1s;
}
.default-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.text-center {
  text-align: center;
}
.grey-background {
  background-color: $greybg;
}
.list-inline {
  li {
    display: inline;
  }
}
.hero {
  position: relative;
  padding-top: 152px; // 100 + 52 to offset navbar and caption
  padding-bottom: 180px; //100 + 80 to offset triangle
  background-image: url(../img/hero.jpg);
  background-size: cover;
  //background-color: $dark-purple;
  h2 {
    color: $lightgrey;
    margin-bottom: 40px;
  }
  img {
    margin-top: 0px;
    width: 420px;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .triangle {
  	width: 0;
  	height: 0;
  	border-bottom: 80px solid $greybg;
  	border-right: 100vw solid transparent;
    position: absolute;
    z-index: 10;
    bottom: 0;
  }
}
.page-section {
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    margin-bottom: 40px;
  }
}
.page-divider {
  border-bottom: 2px solid rgba(255,255,255, .2);
  width: 50px;
  margin: 0 auto;
}


/*
Navbar
*/
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  transition: ease all .5s;
  @media (max-width: 575px) {
    display: inline;
    background-color: black;
  }
  li a {
    @extend .transition;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      color: $light-purple;
    }
  }
  .navbar-nav .nav-item+.nav-item {
    padding-left: 1rem;
  }
  .navbar-toggler {
    color: white;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 575px) {
      display: inline;
      .nav-item {
        padding-left: 1rem;
      }
    }
  }
  .logo-ico {
    position: absolute;
    left: .5rem;
    max-height: 26px;
    max-width: 26px;
    align-self: center;
    @media (max-width: 575px) {
      position: static;
    }
  }
  .navbar-toggle {
    @extend .transition;
    cursor: pointer;
    border: none;
    line-height: 1;
    background-color: transparent;
    padding: 1rem;
    color: $white;
    margin: 0;
    font-size: 20px;
    outline: none;
    &:active {
      background-color: $grey;
    }
  }

}
.navbar-black {
  background-color: black;
}

/*
Homepage
*/
.social-list {
  li a img {
    max-width: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

/*
Footer
*/
.subscribe {
  background-image: url(../img/foot.jpg);
  background-size: cover;
  position: relative;
  padding-top: 160px; //80 + 80 to offset the triangle
  padding-bottom: 80px;
  h2 {
    margin-bottom: 40px;
  }
  .btn {
    margin-top: 20px;
    width: 100%;
  }
  .triangle {
  	width: 0;
  	height: 0;
  	border-top: 80px solid $greybg;
  	border-left: 100vw solid transparent;
    position: absolute;
    z-index: 10;
    top: 0;
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  .brand-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -20px; // 0 - 20 bc the items have 20 top margin
    margin-bottom: 0;
    justify-content: center;
    .list-item {
      margin-top: 20px; // 20 top margin for when wrapping occurs
      margin-bottom: 0;
      img {
        padding-right: 2rem;
        padding-left: 2rem;
        max-height: 40px;
        opacity: .5;
      }
    }
  }
}


/*
Buttons
*/
.btn {
  @extend .transition;
  @extend .default-shadow;
  color: $white;
  font-size: 20px;
  padding: 12px 36px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: $purple;
  &:hover, &:focus {
    color: $white;
    background-color: $light-purple;
  }
  &:active {
    color: $white;
    background-color: $purple;
  }
}
.btn-nav-item {
  @extend .btn;
  background-color: $purple;
  padding: 0;
  margin-left: 1rem;
  .nav-link {
    padding: 12px 36px;
    line-height: 1.25;
    &:hover {
      color: $white;
    }
  }
  @media (max-width: 575px) {
  }
}
.btn-nav {
  position: absolute;
  right: 0;
}
